$primary: #000000;
$accent: #61b26f;
$outline:#c2c2c2;

//cards
$card-text: #000000;
$card-title: #575757;
$card-desc: #575757;

//card
$cards: (
  "stats": #f9f8f3,
  "sales": #ffefe2,
  "profits": #eefcef,
  "orders": #e6f5fa,
  "visits": #f4f5f9,
  "revenue":$primary,
);

