//gobal style goes here
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.img{
  max-width: 100%;
}

.overflow-vertical {
  overflow-x: hidden;
  overflow-y: auto;
}
