#menu-toggle {
  display: none;

  &:checked {
    ~ #sidebar {
      flex: 0 0 80px;
      width: 80px;

      @include media-breakpoint-down(lg) {
        width: $sidebar-width;
        left: 0;

        ~ .content-wrapper {
          filter: blur(8px);
          pointer-events: none;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        left: 0;
      }

      .nav {
        &-link {
          padding-left: 1rem;
          &-name {
            transform: translateX(500px);
          }
        }
      }

      .user {
        &-name {
          transform: translateX(500);
        }
      }
    }
    ~ label {
      left: 80px;
      transform: rotate(180deg);
      @include media-breakpoint-down(lg) {
        left: $sidebar-width;
      }
      @include media-breakpoint-down(sm) {
        left: auto;
        right: 0;
      }
    }
  }
}
label {
  position: absolute;
  top: 20%;
  left: $sidebar-width;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid black;
  background-color: $white;
  z-index: 99;
  transition: 0.4s all ease-in-out;

  span {
    font-size: 2rem;
  }
  @include media-breakpoint-down(lg) {
    left: 0;
  }
}

#sidebar {
  flex: 0 0 $sidebar-width;
  width: $sidebar-width;
  border-right: 1px solid $outline;
  transition: 0.4s all ease-in-out;
  background-color: white;
  z-index: 80;

  @include media-breakpoint-down(lg) {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
  }

  .bard-logo {
    height: $brand-logo-height;
    padding-left: $barnd-logo-padding-left;
    &-icon {
      font-size: 1.5rem;
    }
  }

  .nav {
    &-link {
      white-space: nowrap;
      border-left: 6px solid transparent;
      .icon {
        margin-right: 1rem;
        font-size: 1.5rem;
      }
      &.active,
      &:hover {
        .icon {
          font-weight: $font-weight-bold;
        }
        border-left: 6px solid $primary;
        font-weight: $font-weight-bold;
      }
    }
  }

  .user {
    &-avatar {
      position: relative;
      width: $avatar-size;
      height: $avatar-size;
      padding: 0.375rem;
      margin-bottom: 0.8rem;
      border: 2px solid $outline;
      border-radius: 0.725rem;
      img {
        border-radius: 8px;
      }
    }

    &-status {
      position: absolute;
      bottom: 0px;
      right: -5px;
      height: 8px;
      width: 8px;
      background-color: green;
      border: 1px solid $outline;
      border-radius: 50%;
    }

    &-name {
      letter-spacing: 0;
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
    }
  }
}
