.input-group{
  &.search{
    width: 390px;
    .input-group-text{
      border-right: 0;
    }
    input{
      border-left: 0;
    }
  }
  &.filter {
    width: 110px;
    .input-group-text{
      border-left: 0;
    }
    input{
      border-right: 0;
    }
  }
  
}
