.revenue-stats{
    flex: 0 0 350px;
    width: 350px;
    background-color: $primary;
    color: white;
    border-radius: 1.5rem;

    @include media-breakpoint-down(lg) {
        width: 100%;
    }
}